body {
    margin: 0px;
    color: #737373;
    font-weight: 600;
    font-size: 1em;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    margin-top: 2%;
}

hr {
    background-color: #d9d9d9;
    height: 1px;
    border: 0;
    margin: 0.5% 0% 0.5% 0%;
}

#mobile {
    display: none;
}

.navigation {
    display: flex;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

#logo {
    margin-right: 5%;
}

nav {
    display: inline;
    width: 75%;
    margin-top: 25px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    color: inherit;
    margin-left: 5%;
    display: inline;
    cursor: pointer;
}

nav > a:focus, nav > a:hover {
    text-decoration: underline;
}


footer {
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1%;
}

@media (max-width: 874px) {
    nav {display: none}
    #mobile {display: block}
}